CLIENT_URL=http://localhost:3000
DB_URL=postgresql://postgres@localhost:5432/covid_19_jobs_dev
DEBUG_DB=true
NODE_ENV=development
PORT=4000
TEST_DB_URL=postgresql://localhost/covid_19_jobs_test
TOKEN_SECRET=somekey
